@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*========================Обнуление========================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*=========================================================*/

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #1d1d1d;
  font-weight: 500;
}

.header {
  background: #f8f8f8;
  margin: 0px 0px 48px 0px;
}

.header__body {
  padding: 54px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__projectname {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 133.3333333333%;
}

.header__logo img {
  max-width: 100%;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  padding-bottom: 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.project-table__header {
  margin-bottom: 24px;
}

.project-table__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  background: #f8f8f8;
  border-radius: 12px;
  padding: 24px;
}

.project-table__row:nth-child(2n) {
  background: #fff;
}

.project-table__name {
  white-space: nowrap;
}

.project-table__name:not(.in-header) {
  font-weight: 700;
  line-height: 150%;
}

.project-table__name--in-header {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 142.8571428571%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #8e8e8e;
  white-space: nowrap;
}

.project-table__link {
  line-height: 150%;
  white-space: nowrap;
  color: #1d1d1d;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.project-table__link:not(div):hover {
  color: #f59400;
}

.project-table__link--in-header {
  font-weight: 600;
  color: #8e8e8e;
  font-size: 0.875rem;
  line-height: 142.8571428571%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  white-space: nowrap;
}

@media (max-width: 1760px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }

  .container {
    max-width: none;
  }

  .project-table {
    overflow: auto;
  }

  .project-table__header {
    width: 500px;
  }

  .project-table__body {
    width: 500px;
  }
}